/* https://code.tutsplus.com/ko/tutorials/the-30-css-selectors-you-must-memorize--net-16048 */
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.class-to-align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    width: 640px;
    height: 1136px;
}

.image {
  background-image: url(../img_src/before.png);
  background-position: center center;
  background-repeat: no-repeat
}

.hidden_back {
  background-color: Transparent;
  border:none;
  cursor: pointer;

}



.main-container.intro {
    background-image: url(../img_src/yanawa_intro.jpg);
    background-position: center center;
    background-repeat: no-repeat
}

.intro .hidden-button {
    background-color: Transparent;
    border: none;
    /* Your can add different style/properties of button Here*/
    cursor: pointer;
    width: 360px;
    height: 90px;
}

.main-container.m-promise {
    background-image: url(../img_src/2_make.jpg);
    background-position: center center;
    background-repeat: no-repeat
}

.main-container .container {
    height: inherit;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.m-promise .hidden-button {
    background-color: Transparent;
    border: none;
    /* Your can add different style/properties of button Here*/
    cursor: pointer;
}

.m-promise #container-1, .invited #container-1 {
    flex : 2 0 0
}

.m-promise #container-2, .invited #container-2 {
    display: flex;
    flex-direction: row;
    flex : 1 0 0;
}

.m-promise #container-3, .invited #container-3 {
    flex : 1.775 0 0;
}

.under-container-1 {
    flex : 167 0 0;
}
.under-container-2 {
    display : flex;
    flex-direction: column;
    justify-content: stretch;
    flex : 473 0 0;
}

.under-container-3 {
    display: flex;
    flex : 167 0 0;
}

.under-container-2 ul {
    display: flex;
    align-items: center;
    flex : 1 0 0;
}

.under-container-2 a {
    height: 100%;
    width: 100%;
}

.m-promise #container-3 > div {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 맵 width 530 높이 280 */

.main-container.invited {
    background-image: url(../img_src/4_invite.jpg);
    background-position: center center;
    background-repeat: no-repeat
}

.font_ {
    font-size: 30px;
}

.button_size {
    width : 527px;
    height: 81px;
    display: flex;
}

.invited .button_yes {
    background-image: url(../img_src/4_yes.jpg);
}

.invited .button_no {
    background-image: url(../img_src/4_no.jpg);
}

.invited #container-3 {
    display: flex;
    flex-direction: column;
}

.invited #container-3 .temp1 {
    flex : 105 0 0
}

.invited #container-3 .temp2 {
    display: flex;
    flex-direction: column;
    flex : 190 0 0;
    justify-content: space-between;
    align-items: center;
}

.invited #container-3 .temp3 {
    flex : 130 0 0
}

.main-container.start {
    background-image: url(../img_src/5_promise.jpg);
    background-position: center center;
    background-repeat: no-repeat
}

.start .container {
    flex-direction: row;
}

.start #container-1 {
    flex : 55 0 0;
}

.start #container-2 {
    flex : 530 0 0;
    display: flex;
    flex-direction: column;
}

.start #container-3 {
    flex : 55 0 0;
}

.start #sub-container1 {
    flex : 60 0 0;
}

.start #sub-container2 {
    flex : 235 0 0;
    display: flex;
    flex-direction: row;
}

.start #sub-container3 {
    flex : 75 0 0;
}

.start #sub-container4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex : 660 0 0;
}
.start #sub-container5 {
    flex : 110 0 0;
}
.start .under-container-2 {
    display: flex;
    justify-content: space-around;
}
.start #sub-container5 a {
    background-image: url(../img_src/5_start.jpg);
    background-position: center center;
    background-repeat: no-repeat
}


.start #ID1 {
    background-image: url(../img_src/5_member1.jpg);
}.start #ID2 {
    background-image: url(../img_src/5_member2.jpg);
}.start #ID3 {
    background-image: url(../img_src/5_member3.jpg);
}.start #ID4 {
    background-image: url(../img_src/5_member4.jpg);
}.start #ID5 {
    background-image: url(../img_src/5_member5.jpg);
}.start #ID6 {
    background-image: url(../img_src/5_member6.jpg);
}

.start .members {
    background-position: center center;
    background-repeat: no-repeat;
    width: 221px;
    height: 192px;
}

.main-container.rank {
    background-image: url(../img_src/6_rank.jpg);
    background-position: center center;
    background-repeat: no-repeat
}

.rank #sub-container1 {
    flex : 60 0 0;
}

.rank #sub-container2 {
    flex : 235 0 0;
    display: flex;
}

.rank #sub-container3 {
    flex : 25 0 0;
}

.rank #sub-container4 {
    display: flex;
    flex : 810 0 0;
}

.rank #sub-container4 .temp1 {
    flex : 200 0 0;
    display: flex;
    flex-flow: column;
}

.rank #sub-container4 .temp2 {
    flex : 460 0 0;
}


.rank #ID1 {
    background-image: url(../img_src/6_rank1.jpg);
}.rank #ID2 {
    background-image: url(../img_src/6_rank2.jpg);
}.rank #ID3 {
    background-image: url(../img_src/6_rank3.jpg);
}.rank #ID4 {
    background-image: url(../img_src/6_rank4.jpg);
}.rank #ID5 {
    background-image: url(../img_src/6_rank5.jpg);
}.rank #ID6 {
    background-image: url(../img_src/6_rank6.jpg);
}

.rank .mems {
    width : 151px;
    height: 137px;
    background-position: center center;
    background-repeat: no-repeat
}
