* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.class-to-align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    background-image: url(../img_src/3_link.jpg);
    background-position: center center;
    background-repeat: no-repeat
}

.url박스 {
    background-color: Transparent;
    border: none;
    /* url주소를 띄워야하는데 투명으로 해야하나,, */
}

.copy_hidden {
    background-color: Transparent;
    border: none;
    cursor: pointer;
}
